{% include /head-home.html %}

{% include /header.html %}

<div class="pattern pattern-category__header">
        <div class="category__header about__header">
            <div class="category__header__block">
                <h1>О сайте nObao.ru</h1>
            </div>
        </div>
    </div>

    <div class="article__content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">

                    <article class="main-article">

                        <div class="main-article__body">

                            <p>Здравствуйте, уважаемые посетители сайта NObao.ru!</p>

                            <p>Приветствую Вас на площадке, созданной ради помощи мне в изучении языка программирования JavaScript. Прожив довольно немалый отрезок жизни, я в конце концов осознал, что программирование - это "моё"! Дойдя до данного понимания, я немедля приступил к реализации себя как программиста.</p>

                            <p>Посещая этот сайт, вы пройдете со мной путь моего становления. Надеюсь на ваш интерес и вашу помощь.</p>

                            <p>В добрый путь!</p>

                        </div>

                    </article>

                </div>
                
                <div class="col-md-4">

{% include /article-aside.html %}                    

                </div>

            </div>
        </div>
    </div>

{% include /footer.html %}