{% include /head-page.html %}

{% include /header.html %}
    
    <header class="page__header overlay" style="background-image: url({{ page.image }})">
           
        <div class="page__header__content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-7 col-md-8">

                        <div class="page__header__content__meta">

                            <a href="{{ site.category_dir }}/{{ page.categories }}" class="page-category-link">{{ page.catname }}</a>
                            <span class="date">{{ page.date | date: '%d' }}/{{ page.date | date: '%m' }}/{{ page.date | date: '%Y' }}</span>

                            <h1>{{ page.title }}</h1>

                            <div class="item-social">
                                <div class="item-comments" title="Количество комментариев">
                                    <i class="fa fa-comment"></i><a href="{{ page.url }}#diskus__thread" class="item-comments__count"></a>
                                </div>
                            </div>
                            <div class="fa fa-share-alt" title="Поделиться в соц. сетях"></div>
                            <div class="likely likely-custom" data-url="{{ site.url }}{{ page.url }}" data-media="{{ site.url }}/{{ page.image }}" data-title="{{ page.title }}">
                                <div class="vkontakte" title="Поделиться Вконтакте">Вконтакте</div>
                                <div class="facebook" title="Поделиться в Facebook">Facebook</div>
                                <div class="twitter" title="Поделиться в Twitter">Twitter</div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </header>

    <div class="article__content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-8">

                    <article class="main-article">

                        <nav class="breadcrumbs">
                            <ul>
                                <li><a href="{{ site.baseurl }}">Главная</a></li>
                                <li><a href="{{ site.category_dir }}/{{ page.categories }}">{{ page.catname }}</a></li>
                                <li class="active">{{ page.title }}</li>
                            </ul>
                        </nav>

                        <div class="main-article__body">

                            <div class="ad main-article__body__ad__top">
{% include /ad-horizontal.html %}
                            </div>

                            {{ content }}

                        </div>

                        <div class="likely-on-page">
                            <div class="likely" data-url="{{ site.url }}{{ page.url }}" data-media="{{ site.url }}/{{ page.image }}" data-title="{{ page.title }}">
                                <div class="vkontakte" title="Поделиться Вконтакте">Вконтакте</div>
                                <div class="facebook" title="Поделиться в Facebook">Facebook</div>
                                <div class="twitter" title="Поделиться в Twitter">Twitter</div>
                                <div class="odnoklassniki" title="Поделиться в Одноклассниках">Одноклассники</div>
                            </div>
                        </div>

                        <div class="ad main-article__body__ad__top">
{% include /ad-horizontal.html %}
                        </div>

                        <div class="read-more">
                            <div class="read-more__header">Читать еще:</div>
                            <ul>
                                {% capture related_posts %}{{ page.categories }}{% endcapture %}
                                {% assign collection = site.categories[related_posts] %}
                                {% for article in collection limit: 6 %}
                                    {% unless page.url == article.url %}
                                    <li><a href="{{ article.url }}">{{ article.title }}</a></li>
                                    {% endunless %}
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="comments">
{% include /comments.html %}
                        </div>

                    </article>

                </div>

                <div class="col-md-4">
{% include /article-aside.html %}
                </div>

            </div>
        </div>
    </div>

{% include /footer.html %}    